{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">

  <br>
  <h1>Enter Data</h1>
  <p>Date: {{ today }}</p>
  <br>

  <form method="POST">
    {% csrf_token %}
    {% crispy form %}

    {% for error in form.errors %}
    <div class="alert alert-danger my-5">
      {{ error }}
    </div>
    {% endfor %}

    {% for nf_error in form.non_field_errors %}
    <div class="alert alert-danger my-5">
      {{ nf_error }}
    </div>
    {% endfor %}

  </form>
</div>

{% endblock %}